@await Html.PartialAsync("~/Views/Shared/_Head.cshtml")
<title>@ViewData["Title"]</title>
<body>
<div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">
        @await Html.PartialAsync("~/Views/Shared/_Sidebar.cshtml")

        <div class="layout-page">
            @await Html.PartialAsync("~/Views/Shared/_TopBar.cshtml")

            @RenderBody()

            @await Html.PartialAsync("~/Views/Shared/_Footer.cshtml")

            <div class="content-backdrop fade"></div>
        </div>
    </div>
</div>
</body>

@await Html.PartialAsync("~/Views/Shared/_Scripts.cshtml")