<footer class="content-footer footer bg-footer-theme">
    <div class="container-xxl d-flex flex-wrap justify-content-between py-2 flex-md-row flex-column">
        <div>
            <a
                href="https://themeselection.com/demo/sneat-bootstrap-html-admin-template/landing/"
                target="_blank"
                class="footer-text fw-bolder">
                Zira
            </a
            >
            ©
        </div>
    </div>
</footer>