@await Html.PartialAsync("~/Views/Shared/_Head.cshtml")

<body>
<div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">
        @RenderBody()
    </div>
</div>
</body>

@await Html.PartialAsync("~/Views/Shared/_Scripts.cshtml")