<div class="col-12 col-md-8 col-lg-4 order-3 order-md-2">
    <div class="row">
        <div class="col-6 mb-4 mt-4">
            <div class="card">
                <div class="card-body">
                    <div class="card-title d-flex align-items-start justify-content-between">
                        <div class="avatar flex-shrink-0">
                            <img src="dashboard/assets/img/icons/unicons/paypal.png" alt="Groceries" class="rounded"/>
                        </div>
                    </div>
                    <span class="d-block mb-1">@DashboardText.Groceries</span>
                    <h3 class="card-title text-nowrap mb-2">$800</h3>
                    <small class="text-danger fw-semibold"><i class="bx bx-down-arrow-alt"></i> -4.3%</small>
                </div>
            </div>
        </div>
        <div class="col-6 mb-4 mt-4">
            <div class="card">
                <div class="card-body">
                    <div class="card-title d-flex align-items-start justify-content-between">
                        <div class="avatar flex-shrink-0">
                            <img src="dashboard/assets/img/icons/unicons/cc-primary.png" alt="Utilities" class="rounded"/>
                        </div>
                    </div>
                    <span class="fw-semibold d-block mb-1">@DashboardText.Utilities</span>
                    <h3 class="card-title mb-2">$150</h3>
                    <small class="text-success fw-semibold"><i class="bx bx-up-arrow-alt"></i> +3.2%</small>
                </div>
            </div>
        </div>
    </div>
</div>