<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
    <div class="app-brand demo">
        <a asp-action="Index" asp-controller="Dashboard" class="app-brand-link">
            <span class="app-brand-text demo menu-text fw-bolder ms-2">Zira</span>
        </a>
        <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
            <i class="bx bx-chevron-left bx-sm align-middle"></i>
        </a>
    </div>
    <div class="menu-inner-shadow"></div>

    <ul class="menu-inner py-1">
        <!-- Dashboard -->
        <li class="menu-item active">
            <a asp-action="Index" asp-controller="Dashboard" class="menu-link">
                <i class="menu-icon tf-icons bx bx-home-circle"></i>
                <div data-i18n="Dashboard">Dashboard</div>
            </a>
        </li>

        <li class="menu-header small text-uppercase">
            <span class="menu-header-text">Expense Management</span>
        </li>


        <!-- Expense Management -->
        <li class="menu-item">
            <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx-money"></i>
                <div data-i18n="Expense Management">Expense Management</div>
            </a>
            <ul class="menu-sub">
                <li class="menu-item">
                    <a asp-action="AddExpenses" asp-controller="ExpensesManagement" class="menu-link">
                        <div data-i18n="Add Expense">Add Expense</div>
                    </a>
                </li>
                <li class="menu-item">
                    <a asp-action="ExpensesList" asp-controller="ExpensesManagement" class="menu-link">
                        <div data-i18n="Expense List">Expense List</div>
                    </a>
                </li>
            </ul>
        </li>

        <!-- Income Management -->
        <li class="menu-item">
            <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx-credit-card"></i>
                <div data-i18n="Income Management">Income Management</div>
            </a>
            <ul class="menu-sub">
                <li class="menu-item">
                    <a asp-action="AddIncome" asp-controller="IncomeManagement" class="menu-link">
                        <div data-i18n="Add Income">Add Income</div>
                    </a>
                </li>
                <li class="menu-item">
                    <a asp-action="IncomeList" asp-controller="IncomeManagement" class="menu-link">
                        <div data-i18n="Income List">Income List</div>
                    </a>
                </li>
            </ul>
        </li>

        <!-- Budgeting -->
        <li class="menu-item">
            <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx-bar-chart-alt"></i>
                <div data-i18n="Budgeting">Budgeting</div>
            </a>
            <ul class="menu-sub">
                <li class="menu-item">
                    <a asp-action="SetBudget" asp-controller="Budget" class="menu-link">
                        <div data-i18n="Set Budget">Set Budget</div>
                    </a>
                </li>
                <li class="menu-item">
                    <a asp-action="BudgetOverview" asp-controller="Budget" class="menu-link">
                        <div data-i18n="Budget Overview">Budget Overview</div>
                    </a>
                </li>
            </ul>
        </li>

        <!-- Analytics -->
        <li class="menu-item">
            <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx-line-chart"></i>
                <div data-i18n="Analytics">Analytics</div>
            </a>
            <ul class="menu-sub">
                <li class="menu-item">
                    <a asp-action="FinancialSummary" asp-controller="Analytics" class="menu-link">
                        <div data-i18n="Financial Summary">Financial Summary</div>
                    </a>
                </li>
                <li class="menu-item">
                    <a asp-action="Comparison" asp-controller="Analytics" class="menu-link">
                        <div data-i18n="Expense Comparison">Expense Comparison</div>
                    </a>
                </li>
            </ul>
        </li>
        <li class="menu-header small text-uppercase">
            <span class="menu-header-text">Account</span>
        </li>

        <!-- Account Settings -->
        <li class="menu-item">
            <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx-user-circle"></i>
                <div data-i18n="Account Settings">Account Settings</div>
            </a>
            <ul class="menu-sub">
                <li class="menu-item">
                    <a asp-action="Profile" asp-controller="Account" class="menu-link">
                        <div data-i18n="Profile">Profile</div>
                    </a>
                </li>
                <li class="menu-item">
                    <a asp-action="NotificationPreferences" asp-controller="Account" class="menu-link">
                        <div data-i18n="Notification Preferences">Notification Preferences</div>
                    </a>
                </li>
            </ul>
        </li>

        <!-- Automation -->
        <li class="menu-item">
            <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx-bell"></i>
                <div data-i18n="Automation">Automation</div>
            </a>
            <ul class="menu-sub">
                <li class="menu-item">
                    <a asp-action="BillReminders" asp-controller="Automation" class="menu-link">
                        <div data-i18n="Bill Reminders">Bill Reminders</div>
                    </a>
                </li>
                <li class="menu-item">
                    <a asp-action="NotificationConfig" asp-controller="Automation" class="menu-link">
                        <div data-i18n="Notification Config">Notification Config</div>
                    </a>
                </li>
            </ul>
        </li>
        <li class="menu-header small text-uppercase">
            <span class="menu-header-text">Additional Information</span>
        </li>
        <li class="menu-item">
            <a
                href="https://github.com/codingburgas/2425-dzi-csharp-KKDinev20/wiki"
                target="_blank"
                class="menu-link">
                <i class="menu-icon tf-icons bx bx-file"></i>
                <div data-i18n="Documentation">Documentation</div>
            </a>
        </li>
    </ul>
</aside>